.newuser-details{
    background-color: #1c1c1c;
}

.newuser-login{
    width: 48%;
    height: 50vh;
    background-color: #1c1c1c;
    border: none;
}

.registration-button{
    float: right;
    margin-right: 1.5rem;
    margin-top: 1rem;
    background: #1c1c1c;
    margin-bottom: 0;
}

.registration-button:hover{
    background: #212121;
}

/* .login-container{
    width: 110vh;
    height: 77vh;
    border: 1px solid #000;
    box-shadow: 0 0 5px 2px rgba(89, 87, 87, 0.819);
    background-color: #1c1c1c;
    border-radius: 5px;
} */

/* #root ,
body{
    background-color: #2b2b2d;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    background: #2c2c2c;
} 
 


.heading{
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 1.8rem;
    padding: 18px 0; 
    color: #f5d165;
    background-color: #1c1c1c;
} 

 .login-details{
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    background-color: #1c1c1c;
} 

 label{
    font-size: 1.3rem;
    margin: 1rem 0;
    margin-right: .7rem;
    color: rgb(201, 201, 201);
    background-color: #1c1c1c;
} 

 input{
    width: 60%;
    height: 2rem;
    margin: 1rem 0;
    padding: 0 .5rem;
    font-size: 1.3rem;
    border-radius: 8px;
    color: #000;
    border: 1px solid #000;
} 

 button{
    width: 45%;
    height: 2.5rem;
    margin: 1rem 0;
    background-color: #000;
}

button:hover{
    background-color: #000;
} */